name: Lint

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Luacheck Linter
        uses: judaew/luacheck-action@v0.2.2
        with:
          targets: "."
